@media(max-width:1400px){

}
@media(max-width:1200px){
    .films__item{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
    }
    .films__item-card{
        width: 48%;
        min-height: 700px;
    }
    .collections__catalog{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;      
    }
    .collections__item{
        max-width: 500px;
        height: 270px;
    }
    .collections__item::after{
        background-size: 95% 90%;
    }
    .films__item-cardbg{
        -o-object-fit: fill;
           object-fit: fill;
    }
}
@media(max-width:992px){
    .films__item-card{
        min-height: 500px;
    }
    .films__item-cardbg{
        -o-object-fit: fill;
           object-fit: fill;
    }
    .series__collection{
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 250px;
        gap: 15px;
    }
    .series__item:nth-of-type(1){
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }
    .series__item:nth-of-type(2){
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/5;
    }
    .series__item:nth-of-type(3){
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/5;
    }
    .series__item:nth-of-type(4){
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }
    .series__item:nth-of-type(5){
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/5;
    }
    .series__item-bg{
        -o-object-fit: cover;
           object-fit: cover;
    }
    .header__bg{
        -o-object-fit: fill;
           object-fit: fill;
    }
    .header__content{
        height: 600px;
    }
    .logo{
        margin-bottom: 18px;
    }
    
}
@media(max-width:768px){
    .series__collection{
        grid-auto-rows: 200px;
    }
    .films__item-card{
        min-height: 450px;
    }
    .header__nav-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 10px;
    }
    .header__nav-content{
        padding-top: 20px;
    }
    .header__nav-link::after {
        margin-top: 20px;
    }

}
@media(max-width:576px){
    .series__collection{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-auto-rows: 310px;
    }
    .films__item-card {
        min-height: 550px;
    }
    .series__item:nth-of-type(n+1){
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        grid-row: auto;
    }
    .series__item-bg{
        -o-object-fit: fill;
           object-fit: fill;
    }
    .films__item-card{
        width: 100%;
        min-height: 500px;
    }
    .widow .container img{
        width: 100%;
    }
    .series__poster{
        padding: 0 5px;
    }
    .series__poster-text{
        margin: 10px 0;
    }
}
@media (max-width:400px) {
    .header__content-title{
        font-size: 50px;
        line-height: 55px;
    }
    .btn{
        padding: 17px 30px;
    }
    .header__btns{
        gap: 20px;
    }
    .header__nav-link{
        margin: 0 2px;
    }
    .logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 80px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 10px;    
    }
    .logo__text{
        font-size: 16px;
    }
    .logo img{
        width: 100%;
    }
    .series__poster{
        min-height: -webkit-max-content;
        min-height: -moz-max-content;
        min-height: max-content;
        padding: 10px 5px;
    }
    .series__poster-title{
        font-size: 30px;
    }
    .series__poster-text{
        line-height: 20px;
    }
    .footer__text{
        text-align: center;
    }
    .header__content{
        height: 400px;
    }
    .header__content-text{
        margin: 20px 0;
    }
    .header__content-title{
        font-size: 30px;
    }
    .collections__item{
        height: 210px;
    }
}
